@import 'reset',
        '../node_modules/bourbon/app/assets/stylesheets/bourbon',
        '../node_modules/bourbon-neat/app/assets/stylesheets/neat',
        'base/base',
        'slidingPanelNav',
        'labelSwitch',
        'navComponent';


button{
  outline: none;
}
input[type="text"]:focus,
textarea:focus{
 border-color: #BCA97A;
 box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px #EBD8B4;
}
#signup{
  @include outer-container;
  .left {@include span-columns(6)};
  .right {@include span-columns(6)};
  background-color: #796855;
  padding: 2em;
  margin-top: 5em;
  box-shadow: 2px 2px 2px #000;
  h1{
    font-size: 32px;
    color: #EBD8B4;
  }
  div{
    color: #EBD8B4;
    text-align: center;
  }
  label{
    .checkbox{
      margin: 0 auto;
    }
    input[type='checkbox']{
      opacity: 0;
    }
  }
  .question{
    font-size: 24px;
  }
  button{
    width: 30%;
    background: #BCA97A;
    color: #EAEAEA;
  }
}
#signIn{
  @extend #signup
}

.BlogComponent{
  padding: 1em 0 0 0;
  margin: 0 auto;
  .addPost{
    clear: both;
    margin-right: 1em;
    height: 48px;
    .newBlogPost{
      float: right;
      background: #E7492E;
      box-shadow: 2px 2px 2px #000;
    }
  }
}
.BlogPostComponent {
  div.blogPostContainer {
    background: #796854;
    border-radius: 40px;
    padding: 2em;
    box-shadow: 1px 1px 1px #000;
    .titleContainer {
      margin-left: 1em;
      .blog-bullet {
        height: 48px;
        width: 48px;
        text-align: center;
        font-size: 33px;
        color: #E8E8E8;
        font-family: Open-Sans;
        background: #E54A35;
        border-radius: 50%;
        display: inline-block;
        margin-right: 1em;
        vertical-align: middle;
        box-shadow: 2px 2px 2px #000;
      }
      .title {
        color: #fff;
        font-size: 32px;
        vertical-align: middle;
        font-family: Open-Sans;
      }
    }
    .content {
      color: #fff;
      margin: 3em 0 3em 5em;
      font-size: 18px;
      white-space: pre-wrap;
    }
  }
}
.BlogDetailsComponent{
  @extend .BlogPostComponent;
  min-width: 30%;
  margin: 2em auto;
}

.AddPostComponent{
  @extend .BlogComponent;
  background-color: #796855;
  box-shadow: 2px 2px 2px #000;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 2em;
  color: #ECD8B2;
  .title{
    font-size: 32px;
    vertical-align: middle;
    font-family: Open-Sans;
    float: left;
    i{
      height: 32px;
      width: 32px;
    }
  }
  select{
       font-size: 20px;
       margin: 0;
       background-color: #ECD8B2;
       border-color: #E7492E;
       outline: none;
  }
  .addPostButton{
    right: 28%;
    height: 34px;
    border-radius: 7px;
    border: 1px solid #ECD8B2;
    width: 34px;
    position: absolute;
    background-color: #ECD8B2;
    box-shadow: 2px 2px 2px #000;

    .postButton{
       font-size: 40px;
       color: #E7492E;
       outline: none;
    }
    .fa-plus-square{
        position: relative;
        top: -4px;
        left: -1px;
    }
  }
  label{
  clear: both;
  }
  .postContent{
    resize: none;
    height: 25em;
  }

}

body {
  background-image: url('../images/seamless_paper_texture.png');
}
.centered-navigation ul.centered-navigation-menu.show{
  display: none;
}
@media screen and(min-width: 700px){
    .BlogComponent{
      max-width: 70%;
    }
    .BlogDetailsComponent{
      max-width: 70%;
    }
}
@media screen and(min-width: 860px){
  .centered-navigation ul.centered-navigation-menu.show{
    display: block;
  }
}
@media screen and(min-width: 1240px){
  .BlogComponent{
    max-width: 50%;
  }
}
